<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="assets/plugins/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <head>
        <meta charset="utf-8" />
        <title>Catálogo de Sistemas</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="Catálogo de sistemas da SEEPE" name="description" />
        <meta content="Eric Silva" name="author" />
    </head>

    <body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <!-- <div id="page-container" class="fade page-header-fixed page-sidebar-fixed page-with-two-sidebar"> -->
    <div id="page-container" class="fade page-without-sidebar page-header-fixed">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <a href="javascript:;" class="navbar-brand">Catálogo de Sistemas - CS</a>
                </div>
                <!-- end mobile sidebar expand / collapse button -->
                <!-- begin header navigation right -->
                <ul class="nav navbar-nav navbar-right">

                </ul>
                <!-- end header navigation right -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        <!-- begin #content -->
        <div id="content" class="content">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"> <b>Search Panel Heading</b></div>
                <div class="panel-body">
                    <p>Description text Description text Description text Description text Description text Description text Description text</p>
                <!-- Accordions-->
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-inverse overflow-hidden">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="fa fa-plus-circle pull-right"></i>
                                        <span class="m-r-10">Item 1</span>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                                <div class="card-group">
                                    <div class="col-md-10 col-sm-12 ui-sortable">
                                        <div class="row">
                                            <div id="ultimo-item">
                                                <div class="col-md-3 col-sm-4 ui-sortable">
                                                    <div class="widget widget-stats bg-example info-item">
                                                        <!--<div class="stats-icon"><i class="fa fa-user"></i></div>-->
                                                        <div class="stats-info infos-item">
                                                            <h4>Subitem 1</h4>
                                                            <h4>Description text Description text Description text Description text Description text</h4>
                                                            <h4 href="#" data-toggle="modal">Leia mais&nbsp;<i class="fa fa-arrow-circle-o-right"></i></h4>
                                                            <div class="stats-link">
                                                                <a>
                                                                    <input type="image" src="..//Exemplo//assets//icon//youtube28.png">
                                                                    <input type="image" src="..//Exemplo//assets//icon//text70.png">
                                                                    <input type="image" src="..//Exemplo//assets//icon//teacher4.png">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div><!--end info-item-->
                                                </div>
                                            </div>
                                        </div><!--end row-->
                                    </div> <!--end item destaque-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Accordions -->
                </div>
            </div>
        </div> <!-- end #content -->
    </div>
        <!-- end page container -->

        <!-- ================== BEGIN BASE JS ================== -->
        <script src="assets/plugins/jquery-1.8.2/jquery-1.8.2.min.js"></script>
        <script src="assets/plugins/jquery-1.8.2/jquery-1.8.2.min.js"></script>
        <script src="assets/plugins/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js"></script>
        <script src="assets/plugins/bootstrap-3.2.0/js/bootstrap.min.js"></script>
        <script src="assets/plugins/bootstrap-3.2.0/js/bootstrap.js"></script>

        <!--[if lt IE 9]>
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
        <![endif]-->
        <script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
        <!-- ================== END BASE JS ================== -->

        <!-- ================== BEGIN PAGE LEVEL JS ================== -->
        <script src="assets/plugins/sparkline/jquery.sparkline.js"></script>
        <script src="assets/plugins/jquery-knob/js/jquery.knob.js"></script>
        <script src="assets/js/apps.min.js"></script>

        <script src="assets/js/classie.js"></script>

        <!-- ================== END PAGE LEVEL JS ================== -->
        <script>
            $(document).ready(function() {
                App.init();
            });
        </script>

        <!-- ================== MENU LATERAL ================== -->
        <script>
        var menuLeft = document.getElementById( 'menu-principal-left' ),
        body = document.body;

        showLeft.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeft' );
        };

        function disableOther( button ) {
        if( button !== 'showLeft' ) {
        classie.toggle( showLeft, 'disabled' );
        }
        }
        </script>
        <!-- ================== END MENU LATERAL ================== -->

    </body>
</html>
