<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catálogo de Sistemas</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="catálogo de sistema existentes na see-pe" />
    <meta content="" name="Eric Silva" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="assets/plugins/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
</head>
<body>

<!-- Accordions-->
<div class="panel-body">
    <div class="panel-group" id="accordion">

        <div class="panel panel-inverse overflow-hidden">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <i class="fa fa-plus-circle pull-right"></i>
                        <span class="m-r-10">Item 1</span>
                    </a>
                </h3>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                <div class="card-group">

                    <div class="col-md-10 col-sm-12 ui-sortable">
                        <div class="row">
                            <div id="ultimo-item">
                                <div class="col-md-3 col-sm-4 ui-sortable">
                                    <div class="widget widget-stats bg-example info-item">
                                        <!--<div class="stats-icon"><i class="fa fa-user"></i></div>-->
                                        <div class="stats-info infos-item">
                                            <h4>Subitem 1</h4>
                                            <h4>Description text Description text Description text Description text Description text</h4>
                                            <h4 href="#" data-toggle="modal">Leia mais&nbsp;<i class="fa fa-arrow-circle-o-right"></i></h4>
                                            <div class="stats-link">
                                                <a>
                                                    <input type="image" src="..//Exemplo//assets//icon//youtube28.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//text70.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//teacher4.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--end info-item-->
                                </div>
                                <div class="col-md-3 col-sm-4 ui-sortable">
                                    <div class="widget widget-stats bg-example info-item">
                                        <!--<div class="stats-icon"><i class="fa fa-user"></i></div>-->
                                        <div class="stats-info infos-item">
                                            <h4>Subitem 2</h4>
                                            <h4>Description text Description text Description text Description text Description text</h4>
                                            <h4 href="#" data-toggle="modal">Leia mais&nbsp;<i class="fa fa-arrow-circle-o-right"></i></h4>
                                            <div class="stats-link">
                                                <a>
                                                    <input type="image" src="..//Exemplo//assets//icon//youtube28.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//text70.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//teacher4.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--end info-item-->
                                </div>
                                <div class="col-md-3 col-sm-4 ui-sortable">
                                    <div class="widget widget-stats bg-example info-item">
                                        <!--<div class="stats-icon"><i class="fa fa-user"></i></div>-->
                                        <div class="stats-info infos-item">
                                            <h4>Subitem 3</h4>
                                            <h4>Description text Description text Description text Description text Description text</h4>
                                            <h4 href="#" data-toggle="modal">Leia mais&nbsp;<i class="fa fa-arrow-circle-o-right"></i></h4>
                                            <div class="stats-link">
                                                <a>
                                                    <input type="image" src="..//Exemplo//assets//icon//youtube28.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//text70.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//teacher4.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--end info-item-->
                                </div>
                                <div class="col-md-3 col-sm-4 hidden-sm ui-sortable">
                                    <div class="widget widget-stats bg-example info-item">
                                        <!--<div class="stats-icon"><i class="fa fa-user"></i></div>-->
                                        <div class="stats-info infos-item">
                                            <h4>Subitem 4</h4>
                                            <h4>Description text Description text Description text Description text Description text</h4>
                                            <h4 href="#" data-toggle="modal">Leia mais&nbsp;<i class="fa fa-arrow-circle-o-right"></i></h4>
                                            <div class="stats-link">
                                                <a>
                                                    <input type="image" src="..//Exemplo//assets//icon//youtube28.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//text70.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//teacher4.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--end info-item-->
                                </div>
                            </div><!--end ultimos-item-->
                        </div><!--end row-->
                    </div> <!--end item destaque-->

                </div>
            </div>
        </div>

        <div class="panel panel-inverse overflow-hidden">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <i class="fa fa-plus-circle pull-right"></i>
                        <span class="m-r-10">Item 2</span>
                    </a>
                </h3>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                <div class="card-group">

                    <div class="col-md-10 col-sm-12 ui-sortable">
                        <div class="row">
                            <div id="ultimo-item">
                                <div class="col-md-3 col-sm-4 ui-sortable">
                                    <div class="widget widget-stats bg-example info-item">
                                        <!--<div class="stats-icon"><i class="fa fa-user"></i></div>-->
                                        <div class="stats-info infos-item">
                                            <h4>Subitem 1</h4>
                                            <h4>Description text Description text Description text Description text Description text</h4>
                                            <h4 href="#" data-toggle="modal">Leia mais&nbsp;<i class="fa fa-arrow-circle-o-right"></i></h4>
                                            <div class="stats-link">
                                                <a>
                                                    <input type="image" src="..//Exemplo//assets//icon//youtube28.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//text70.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//teacher4.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--end info-item-->
                                </div>
                                <div class="col-md-3 col-sm-4 ui-sortable">
                                    <div class="widget widget-stats bg-example info-item">
                                        <!--<div class="stats-icon"><i class="fa fa-user"></i></div>-->
                                        <div class="stats-info infos-item">
                                            <h4>Subitem 2</h4>
                                            <h4>Description text Description text Description text Description text Description text</h4>
                                            <h4 href="#" data-toggle="modal">Leia mais&nbsp;<i class="fa fa-arrow-circle-o-right"></i></h4>
                                            <div class="stats-link">
                                                <a>
                                                    <input type="image" src="..//Exemplo//assets//icon//youtube28.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//text70.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//teacher4.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--end info-item-->
                                </div>
                                <div class="col-md-3 col-sm-4 ui-sortable">
                                    <div class="widget widget-stats bg-example info-item">
                                        <!--<div class="stats-icon"><i class="fa fa-user"></i></div>-->
                                        <div class="stats-info infos-item">
                                            <h4>Subitem 3</h4>
                                            <h4>Description text Description text Description text Description text Description text</h4>
                                            <h4 href="#" data-toggle="modal">Leia mais&nbsp;<i class="fa fa-arrow-circle-o-right"></i></h4>
                                            <div class="stats-link">
                                                <a>
                                                    <input type="image" src="..//Exemplo//assets//icon//youtube28.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//text70.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//teacher4.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--end info-item-->
                                </div>
                                <div class="col-md-3 col-sm-4 hidden-sm ui-sortable">
                                    <div class="widget widget-stats bg-example info-item">
                                        <!--<div class="stats-icon"><i class="fa fa-user"></i></div>-->
                                        <div class="stats-info infos-item">
                                            <h4>Subitem 4</h4>
                                            <h4>Description text Description text Description text Description text Description text</h4>
                                            <h4 href="#" data-toggle="modal">Leia mais&nbsp;<i class="fa fa-arrow-circle-o-right"></i></h4>
                                            <div class="stats-link">
                                                <a>
                                                    <input type="image" src="..//Exemplo//assets//icon//youtube28.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//text70.png">
                                                    <input type="image" src="..//Exemplo//assets//icon//teacher4.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--end info-item-->
                                </div>
                            </div><!--end ultimos-item-->
                        </div><!--end row-->
                    </div> <!--end item destaque-->

                </div>
            </div>
        </div>

    </div> <!-- End Accordions -->

</body>
</html>